.loginBackGround{
    background-color: navajowhite;
    height: 100%;
    overflow: hidden;
}

.userFormContainer {
    /*固定定位*/
    position: fixed;
    /*背景黑色半透明*/
    /*background-color: rgba(50, 0, 0, 0.6);*/
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    /*往上（x轴）,左（y轴）移动自身长宽的 50%，以使其居于中心位置*/
    transform: translate(-50%, -50%);
    /*内边距：当前元素距离外层元素的距离*/
    padding: 20px;
    z-index: 100;
}

.loginTitle{
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: orangered;
}